 .mainDiv{
    color: black;
    background-color:cadetblue ;


/* .mainDiv{
    margin: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: center;
    display: flex;
}
   /*